@mixin transition() {
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		 -o-transition: all .25s ease;
			transition: all .25s ease;
}
@mixin title() {
	margin: 60px auto;
	width: 45%;
	text-align: center;
	padding: 0 2%;
	& h2 {
	text-transform: uppercase;
	}
}
